@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Symbols', sans-serif;
 
}
body{
    background: var(--color-canvas);
   
}
header{
    height: auto;
    width: 100%;
    position: relative;
    background: #f0f2f5;
}
.logo{
    width: 200px;
    padding: 40px 40px;
}

header .main{
    position: absolute;
    top: 25%;
    width: 70%;
    gap: 60px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    /* display: none; */
}
.form-body h2{
    font-size: 30px


}

.form-body .stay{
    margin-top: -20px;
    padding-bottom: 10px;
}

.main h1{
   color: #606770;
   font-weight: 200;
   margin-left: -180px;
    
}
/* .main .left img{
    height: 106px;
    margin: -28px;
    padding-bottom: 20px;
} */

/* .main .left p{
   font-size: 24px;
   font-weight: 400;
   margin-left:px ;
   letter-spacing: 0.2px;
    
} */

/* header .main .left{
    flex: 1;
    padding-top: 60px;
   
   
    
} */



header .main .right form{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
   margin-top: -50px;
   padding: 20px 0 20px;
}

.form-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 12px;
    gap: 15px;

}

form input{
    flex: 1;
    border: 1px solid #05090e;
    font-size: 17px;
    border-radius:5px ;
    color: #1d2129;
    outline-color: #8ab7ef;
    padding: 10px 16px;
}

form .login{
 
   text-align: center;
   background-color: #1877f2;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: -47px;
    margin-left: 10px;


}

.forget{
   
    color: #2449ee;
    font-size: 16px;
    margin: 5px 0;
    text-transform: capitalize;
    cursor: pointer;
}

.forget:hover{
    text-decoration: underline;
}


hr{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 6px ;
    text-align: center;
}
.Create-acc{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    border-color: #42b72a;
    color: #fff;
    font-weight: bold;
}

.foot{
    margin-top: 28px;
  margin-left: 35px;
    font-size: 14px;
}

span{
    font-weight: bold;
}

.signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 432px;
    background: #fff;
    box-shadow:  0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
    padding-bottom:18px ;
    border-radius: 8px;
    display: none;
   
   
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
}

.top h2{
    font-size: 32px;
    font-weight: bold;
}

.top p{
    color: #606770;
    line-height: 24px;
    font-size: 15px;
}

.top img{
    padding-bottom: 35px;
    cursor: pointer;
    width: 25px;
}

.top hr{
    border: 0.1px;
    background: grey ;
}

.signup-body{
    display: flex;
    flex-wrap:wrap;
    padding: 0 15px;

}

.same{
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 40%;
}
.name{
    display: flex;
    gap: 10px;
    margin: 15px 0;
    font-size: 15px;
}

.bottom input{
    padding: 10px;
    width: 100%;
    font-size: 15.2px;
    margin-bottom: 15px;
    outline: none;
}

.birthdate{
    padding: 0 15px;
}
.birthdate p{
    margin-bottom: 3px;
}


.birthdate select{
    padding: 7px 35px;
    font-size: 16px;
    cursor: pointer;
    border:1px solid rgba(0, 0, 0, 0.458);
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.gender{
    padding: 0 15px;
}

.gender .person{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.gender .person div{
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.458);
    padding: 7px;
    display: flex;
    gap: 15px;
}

.person div label{
    margin-right:10px ;
}

.content p{
    text-align: center;
  
    font-size: 12px;
}

.content{
    padding-left: 15px;
}

.signin{
    height: 36px;
    width: 194px;
    background: #42b72a;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border-radius: 4px;
    margin-left:118px ;
    cursor: pointer;
    text-transform: capitalize;
}

 .show{
     display: block; 
    
} 

.remove{
    display: none;
}

.blue{
    color: blue;
}